.btn-auth, .btn-facebook, .btn-github, .btn-google, .btn-openid, .btn-twitter, .btn-windows, .btn-yahoo {
  position: relative;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  height: 22px;
  padding: 0 1em;
  border: 1px solid #999;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
  margin: 0;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  line-height: 22px;
  white-space: nowrap;
  cursor: pointer;
  color: #222;
  background: #fff;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -ms-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: none;
  *overflow: visible;
  *display: inline;
  *zoom: 1;
}
.btn-auth, .btn-facebook, .btn-github, .btn-google, .btn-openid, .btn-twitter, .btn-windows, .btn-yahoo {
  *display: inline;
}
.btn-auth:hover, .btn-facebook:hover, .btn-github:hover, .btn-google:hover, .btn-openid:hover, .btn-twitter:hover, .btn-windows:hover, .btn-yahoo:hover, .btn-auth:focus, .btn-facebook:focus, .btn-github:focus, .btn-google:focus, .btn-openid:focus, .btn-twitter:focus, .btn-windows:focus, .btn-yahoo:focus, .btn-auth:active, .btn-facebook:active, .btn-github:active, .btn-google:active, .btn-openid:active, .btn-twitter:active, .btn-windows:active, .btn-yahoo:active {
  text-decoration: none;
}
.btn-auth:before, .btn-facebook:before, .btn-github:before, .btn-google:before, .btn-openid:before, .btn-twitter:before, .btn-windows:before, .btn-yahoo:before {
  content: "";
  float: left;
  width: 22px;
  height: 22px;
  background: url("auth-icons.png") no-repeat 99px 99px;
}
.btn-auth.large, .large.btn-facebook, .large.btn-github, .large.btn-google, .large.btn-openid, .large.btn-twitter, .large.btn-windows, .large.btn-yahoo {
  height: 36px;
  line-height: 36px;
  font-size: 20px;
}
.btn-auth.large:before, .large.btn-facebook:before, .large.btn-github:before, .large.btn-google:before, .large.btn-openid:before, .large.btn-twitter:before, .large.btn-windows:before, .large.btn-yahoo:before {
  width: 36px;
  height: 36px;
}
.btn-auth::-moz-focus-inner, .btn-facebook::-moz-focus-inner, .btn-github::-moz-focus-inner, .btn-google::-moz-focus-inner, .btn-openid::-moz-focus-inner, .btn-twitter::-moz-focus-inner, .btn-windows::-moz-focus-inner, .btn-yahoo::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.btn-facebook {
  border-color: #29447e;
  border-bottom-color: #1a356e;
  color: #fff;
  background: #5872a7 -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #637bad), color-stop(100%, #5872a7));
  background: #5872a7 -webkit-linear-gradient(top, #637bad, #5872a7);
  background: #5872a7 -moz-linear-gradient(top, #637bad, #5872a7);
  background: #5872a7 -o-linear-gradient(top, #637bad, #5872a7);
  background: #5872a7 -ms-linear-gradient(top, #637bad, #5872a7);
  background: #5872a7 linear-gradient(top, #637bad, #5872a7);
  text-shadow: rgba(0, 0, 0, 0.25) 0 -1px 0;
  -moz-box-shadow: #879ac0 0 1px 0 inset;
  -webkit-box-shadow: #879ac0 0 1px 0 inset;
  -o-box-shadow: #879ac0 0 1px 0 inset;
  box-shadow: #879ac0 0 1px 0 inset;
}
.btn-facebook:hover, .btn-facebook:focus {
  background-color: #3b5998;
}
.btn-facebook:active {
  background: #4f6aa3;
  -moz-box-shadow: #45619d 0 1px 0 inset;
  -webkit-box-shadow: #45619d 0 1px 0 inset;
  -o-box-shadow: #45619d 0 1px 0 inset;
  box-shadow: #45619d 0 1px 0 inset;
}
.btn-facebook:before {
  border-right: 1px solid #465f94;
  margin: 0 1em 0 -1em;
  background-position: 0 0;
}
.btn-facebook.large:before {
  background-position: 0 -22px;
}

.btn-github {
  border-color: #d4d4d4;
  background: #ececec -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f4f4f4), color-stop(100%, #ececec));
  background: #ececec -webkit-linear-gradient(top, #f4f4f4, #ececec);
  background: #ececec -moz-linear-gradient(top, #f4f4f4, #ececec);
  background: #ececec -o-linear-gradient(top, #f4f4f4, #ececec);
  background: #ececec -ms-linear-gradient(top, #f4f4f4, #ececec);
  background: #ececec linear-gradient(top, #f4f4f4, #ececec);
  text-shadow: white 1px 1px 0;
}
.btn-github:hover, .btn-github:focus {
  border-color: #518cc6;
  border-bottom-color: #2a65a0;
  color: #fff;
  background: #599bdc -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #599bdc), color-stop(100%, #3072b3));
  background: #599bdc -webkit-linear-gradient(top, #599bdc, #3072b3);
  background: #599bdc -moz-linear-gradient(top, #599bdc, #3072b3);
  background: #599bdc -o-linear-gradient(top, #599bdc, #3072b3);
  background: #599bdc -ms-linear-gradient(top, #599bdc, #3072b3);
  background: #599bdc linear-gradient(top, #599bdc, #3072b3);
  text-shadow: rgba(0, 0, 0, 0.3) -1px -1px 0;
}
.btn-github:active {
  border-color: #2a65a0;
  border-bottom-color: #518cc6;
  background: #3072b3 -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3072b3), color-stop(100%, #599bdc));
  background: #3072b3 -webkit-linear-gradient(top, #3072b3, #599bdc);
  background: #3072b3 -moz-linear-gradient(top, #3072b3, #599bdc);
  background: #3072b3 -o-linear-gradient(top, #3072b3, #599bdc);
  background: #3072b3 -ms-linear-gradient(top, #3072b3, #599bdc);
  background: #3072b3 linear-gradient(top, #3072b3, #599bdc);
}
.btn-github:before {
  margin: 0 0.6em 0 -0.6em;
  background-position: -44px 0;
}
.btn-github:hover:before, .btn-github:focus:before, .btn-github:active:before {
  background-position: -66px 0;
}
.btn-github.large:before {
  background-position: -72px -22px;
}
.btn-github.large:hover:before, .btn-github.large:focus:before, .btn-github.large:active:before {
  background-position: -108px -22px;
}

.btn-google {
  border-color: #3079ed;
  color: #fff;
  background: #4787ed -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4d90fe), color-stop(100%, #4787ed));
  background: #4787ed -webkit-linear-gradient(top, #4d90fe, #4787ed);
  background: #4787ed -moz-linear-gradient(top, #4d90fe, #4787ed);
  background: #4787ed -o-linear-gradient(top, #4d90fe, #4787ed);
  background: #4787ed -ms-linear-gradient(top, #4d90fe, #4787ed);
  background: #4787ed linear-gradient(top, #4d90fe, #4787ed);
  text-shadow: rgba(0, 0, 0, 0.1) 0 1px;
}
.btn-google:hover, .btn-google:focus {
  background: #357ae8 -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4d90fe), color-stop(100%, #357ae8));
  background: #357ae8 -webkit-linear-gradient(top, #4d90fe, #357ae8);
  background: #357ae8 -moz-linear-gradient(top, #4d90fe, #357ae8);
  background: #357ae8 -o-linear-gradient(top, #4d90fe, #357ae8);
  background: #357ae8 -ms-linear-gradient(top, #4d90fe, #357ae8);
  background: #357ae8 linear-gradient(top, #4d90fe, #357ae8);
  text-shadow: rgba(0, 0, 0, 0.3) 0 1px;
}
.btn-google:active {
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px;
  -o-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px;
}
.btn-google:before {
  margin: 0 1em 0 -1em;
  background-position: -88px 0;
  background-color: #e6e6e6;
}
.btn-google.large:before {
  background-position: -144px -22px;
}

.btn-openid:hover, .btn-openid:focus {
  border-color: #777;
  background: #fcfcfc;
}
.btn-openid:active {
  background: #f5f5f5;
}
.btn-openid:before {
  margin: 0 0.6em 0 -0.6em;
  background-position: -154px 0;
}
.btn-openid.large:before {
  background-position: -252px -22px;
}

.btn-twitter {
  border-color: #a6cde6;
  color: #327695;
  background: #cfe4f0 -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f1f5f7), color-stop(100%, rgba(255, 255, 255, 0)));
  background: #cfe4f0 -webkit-linear-gradient(top, #f1f5f7, rgba(255, 255, 255, 0));
  background: #cfe4f0 -moz-linear-gradient(top, #f1f5f7, rgba(255, 255, 255, 0));
  background: #cfe4f0 -o-linear-gradient(top, #f1f5f7, rgba(255, 255, 255, 0));
  background: #cfe4f0 -ms-linear-gradient(top, #f1f5f7, rgba(255, 255, 255, 0));
  background: #cfe4f0 linear-gradient(top, #f1f5f7, rgba(255, 255, 255, 0));
  text-shadow: #bcd3df 1px 0 0;
  -moz-box-shadow: white 0 1px 0 inset;
  -webkit-box-shadow: white 0 1px 0 inset;
  -o-box-shadow: white 0 1px 0 inset;
  box-shadow: white 0 1px 0 inset;
}
.btn-twitter:hover, .btn-twitter:focus {
  border-color: #8dc2e4;
  background-color: #cadde9;
}
.btn-twitter:active {
  background: #cadde9;
  -moz-box-shadow: #bbd6e7 0 1px 0 inset;
  -webkit-box-shadow: #bbd6e7 0 1px 0 inset;
  -o-box-shadow: #bbd6e7 0 1px 0 inset;
  box-shadow: #bbd6e7 0 1px 0 inset;
}
.btn-twitter:before {
  margin: 0 0.6em 0 -0.6em;
  background-position: -22px 0;
}
.btn-twitter.large:before {
  background-position: -36px -22px;
}

.btn-windows:hover, .btn-windows:focus {
  border-color: #777;
  background: #fcfcfc;
}
.btn-windows:active {
  background: #f5f5f5;
}
.btn-windows:before {
  margin: 0 0.6em 0 -0.6em;
  background-position: -110px 0;
}
.btn-windows.large:before {
  background-position: -180px -22px;
}

.btn-yahoo {
  border-color: #ffb305;
  background: #ffc426 -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.5)), color-stop(100%, rgba(255, 255, 255, 0)));
  background: #ffc426 -webkit-linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
  background: #ffc426 -moz-linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
  background: #ffc426 -o-linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
  background: #ffc426 -ms-linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
  background: #ffc426 linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
  text-shadow: rgba(0, 0, 0, 0.1) -1px -1px 0;
}
.btn-yahoo:hover, .btn-yahoo:focus {
  background-color: #fabf20;
}
.btn-yahoo:active {
  border-color: #f09700;
  background-image: none;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 1px inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 1px inset;
  -o-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 1px inset;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 1px inset;
}
.btn-yahoo:before {
  margin: 0 0.6em 0 -0.6em;
  background-position: -132px 0;
}
.btn-yahoo.large:before {
  background-position: -216px -22px;
}
